/* GALERIA */
.media-thumbnail
{
    width: 100%;
    height: 142px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #ddd;
    background-position: center;
    border: 1px solid #CCC;
    display: block;
}

.media-item
{
    padding-bottom: 10px;
    height: 188px;
}

.media-item .name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.media-item .name {
    overflow: hidden;
    word-break: break-all;
}
.btn-media-icn-picked {
  display: none !important;
}

.picked .btn-media-icn-picked {
  display: inherit !important;
}

.img_collection_placeholder {
    border: 5px dashed #CCC;
    height: 50px;
}
