/* CUSTOM STYLES */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {overflow-x:hidden;}

.back-header {background: #3A60A6;border-radius: 1px 0 40px 40px;margin: 0 ;padding: 15px 0;}
.logo-header {max-width: 340px;}

.slide-home {margin:5px 0;}
.slide-home .carousel-indicators li {background-color: #B0B0B0;border-radius: 100%;width: 15px;height: 15px;border: 4px #B0B0B0 solid;}
.slide-home .carousel-indicators .active {background-color:#2662A8;}

.btn-contacto {background: #74BBDD;border-radius: 50px;padding: 10px 20px;border-bottom: 5px #6198BC solid;transition:.6s;box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.35);max-width: 95%;}
.btn-contacto:hover, .btn-contacto:focus {text-decoration:none;outline:none;background:#6198BC;transition:.6s;}
.info-btn {margin-right: auto;padding-left: 5px;}
.info-btn h3 {color: #fff;margin: 0;font-size: 24px;font-family: 'Roboto', sans-serif;font-weight: 400;line-height: normal;}
.info-btn p {color: #fff;margin: 0;font-size: 14px;font-family: 'Roboto', sans-serif;font-weight: 300;letter-spacing: 1px;line-height: normal;}
.icon-msj {max-width:55px;}

.info-slider {background:#2662A8;border-radius:30px;padding:40px 0;margin:5px 0;}
.info-slider p {font-family: 'Roboto', sans-serif;color:#fff;margin:0;font-size:27px;font-weight:100;}
.info-slider p strong {font-weight:500;}

.info-youtube {background:#fff;border-radius:30px;padding:40px 0;margin:5px 0;}
.info-youtube p {font-family: 'Roboto', sans-serif;color:#000;margin:0;font-size:27px;font-weight:100;}
.info-youtube p strong {font-weight:500;}

.content-color-01 {background:#0462A8;}
.content-color-01 h3 {font-family: 'Roboto', sans-serif;color: #fff;margin: 0 0 15px;font-size: 30px;font-weight: 400;}
.content-color-01 p {font-family: 'Roboto', sans-serif;color: #fff;max-width: 300px;margin-left: auto;margin-bottom: 25px;}
.content-color-01 .logo {max-width:165px}
.content-color-01 {padding:30px;}

.content-color-02 {background:#71ADB8;padding:45px 30px}
.content-color-02 h3 {font-family: 'Roboto', sans-serif;color:#fff;font-weight:500;margin:0;font-size: 33px;}
.content-color-02 h3 {font-weight:100;}

.back-color-02 {background-size: cover !important;background-position: right center !important;background-repeat:no-repeat !important;height:100%;transform:scale(1);transition:.6s;}
.back-color-02:hover {transform:scale(1.1);transition:.6s;}
.back-color-03 {background-size: cover !important;background-position: right center !important;background-repeat:no-repeat !important;height:100%;transform:scale(1);transition:.6s;}
.back-color-03:hover {transform:scale(1.1);transition:.6s;}

.content-color-03 {background:#0462A8;}
.content-color-03 h3 {max-width:450px;font-family: 'Roboto', sans-serif;color: #fff;margin: 0 0 15px;font-size: 30px;font-weight: 400;}
.content-color-03 p {font-family: 'Roboto', sans-serif;color: #fff;max-width: 510px;margin-right: auto;margin-bottom:0;}
.content-color-03 .logo {max-width:165px}
.content-color-03 {padding:30px;}

.content-color-04 {background:#71ADB8;}
.content-color-04 h3 {font-family: 'Roboto', sans-serif;color: #fff;margin: 0 0 15px;font-size: 30px;font-weight: 400;}
.content-color-04 p {font-family: 'Roboto', sans-serif;color: #fff;max-width: 100%;margin-left: 0;margin-bottom: 10px;font-size: 16px;}
.content-color-04 .logo {max-width:165px}
.content-color-04 {padding:30px;}
.content-color-04 ul li {color:#fff;font-family: 'Roboto', sans-serif;font-size:21px}
.content-color-04 ul {padding:0 20px;}

.max-content {max-width: 370px;text-align: left;margin: 0 auto;position:relative;}
.absolute-logo {max-width: 90px;margin-left: auto;display: block;position: absolute;bottom: 0;right: 0;}

.owl-nav {position: absolute;top: 0;bottom: 0;left: 0;right: 0;display: flex !important;justify-content: center;align-items: center;z-index: 0;}
.owl-carousel .owl-stage-outer {z-index:2;}
.owl-theme .owl-nav [class*='owl-']:focus {outline:none;}
.owl-theme .owl-nav [class*='owl-']:hover {background:transparent !important;color: #404871;}
.owl-carousel .owl-nav button.owl-prev {margin-right: auto;margin-left: -40px;font-size: 70px;color: #5360A2;}
.owl-carousel .owl-nav button.owl-next {margin-left: auto;margin-right: -40px;font-size: 70px;color: #5360A2;}

.slider-construcciones {margin:25px 0;}
.slider-construcciones h3 {text-align: left;margin: 0 auto 30px;display: inline-block;}

.back-contacto-top {min-height:90vh;background-size:cover !important;background-position:center !important;background-attachment:fixed !important;}
.content-formulario {background:#2662A8;padding: 60px 0;}

.content-formulario input, .content-formulario textarea {width: 100%;border: none;border-radius: 15px;margin: 5px 0;padding: 10px 15px;font-size: 14px;font-family: 'Roboto', sans-serif;color: #335FA6;font-weight: 600;}
.content-formulario textarea {min-height:145px;}
.content-formulario input[type=submit] {background: #74BBDD;color: #fff;font-size: 23px;transition:.6s;margin-bottom: 0;}
.content-formulario input[type=submit]:hover {cursor:pointer;background:#fff;color:#74BBDD;transition:.6s;}

.content-formulario h4 {font-family: 'Roboto', sans-serif;color: #fff;font-size: 46px;text-align: right;font-weight: 300;margin: 0;padding-right: 45px;}
.content-formulario h3 {font-family: 'Roboto', sans-serif;color: #fff;font-size: 46px;text-align: right;font-weight: 100;line-height: 1;margin: 0;}

.footer {background:#5D5D5D;padding:30px;}
.footer p {margin: 0 10px;color: #fff;font-family: 'Roboto', sans-serif;font-weight: 100;font-size: 24px;}
.footer a {color: #fff;font-family: 'Roboto', sans-serif;font-weight: 100;font-size: 22px;transition:.6s;}
.footer a:hover, .footer a:focus {opacity:.6;transition:.6s;text-decoration:none;outline:none;}

.icon-wpp {max-width:30px;}
.logo-foot {max-width:255px;}

.border-right-foot {border-right:1px rgba(0, 0, 0, 0.26) solid}
.border-left-foot {border-left:1px rgba(0, 0, 0, 0.26) solid}

.lbl-suscripto, .lbl-error-suscripto {color: white;margin-top: 5px;font-size: 16px;}
.hidden {display:none !important;}

.gracias {min-height:65vh;background:#2662A8;border-radius:35px 35px 0px 0px;margin:5px 0 0;}
.gracias h3 {color: #fff;font-weight: 100;font-family: 'Roboto', sans-serif;font-size: 45px;margin:0;}
